
@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@()
<body>
<h2>Login</h2>
<!--understand ki get method se vo input ke baad validate1 ko throw ho rha-->
<!--get is bad method, usse password show hoajata hai-->
<form method="post" action="@routes.base.validateLoginPost">
  Username: <input type="text" name="username" placeholder="Enter username">
  <br>
  Password: <input type="text" name="password" placeholder="Enter password">
  <br>
  <input type="submit">
</form>
<form method="post" action="@routes.base.createUser">

  <h3>Create User</h3>
  Username: <input type="text" name="username" placeholder="Enter username">
  <br>
  Password: <input type="text" name="password" placeholder="Enter password">
  <br>
  <input type="submit">
</form>0

</body>
